.group-form
  %h1 チャットグループ編集
  = form_for @group do |f|
    .group-form__field.clearfix
      .group-form__field--left
        = f.label :name, "グループ名", class: "group-form__label"
      .group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "group-form__input"

    .group-form__field.clearfix
      .group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "group-form__label"
      .group-form__field--right
        .group-form__search.clearfix
          = f.collection_check_boxes :user_ids, @users, :id, :name, checked: current_user.id

    .group-form__field
      .group-form__field--left
        = f.label :name, "チャットメンバー", class: "group-form__label"
      .group-form__field--right
        #group-users
          #group-user-22.group-user.clearfix
            %p.group-user__name
              = @group_users.pluck(:name).join(", ")


    .group-form__field.clearfix
      .group-form__field--left
      .group-form__field--right
        = f.submit "Save", name: "commit", type: "submit", class: "group-form__action-btn"